:root {
	--text-color: #000;
	--bg-color: #EEE;
	--block-bg-color: #FFF;
	--line-color: #AAA;
	--border: 1px solid var(--line-color);
}

body {
	margin: 8px;
	background-color: var(--bg-color);
	color: var(--text-color);
	font: 14px Arial, sans-serif;
}

table {
	margin: -2px;
	/* border-collapse: separate; */
}

tr:nth-child(even) {
	background-color: #F2F2F2;
}

th {
	font-weight: normal;
	background-color: #CCC;
}

th, td {
	padding: 3px;
	text-align: right;
}

a {
	color: #00F;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	display: block;
}

.pm-main-header-item {
	flex: 1 1 0;
	padding: 0px 2px;
}

.pm-row {
	display: flex;
	flex-direction: row;
}

.pm-column {
	display: flex;
	flex-direction: column;
	margin-right: 8px;
}

.pm-block {
	background-color: var(--block-bg-color);
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0 0 .25rem #AAAA;
	margin-bottom: 8px;
}

.pm-heading {
	display: flex;
	align-items: center;
	padding-bottom: 4px;
	border-bottom: var(--border);
	margin-bottom: 4px;
}

.pm-title {
	font-size: 16px;
	font-weight: bold;
}

.l {
	text-align: left;
}

.r {
	text-align: right;
}

.c {
	text-align: center;
}
